.contact .contact-section {
	padding: 50px 0;
}
.contact .contact-section .contactBox {
	margin: 50px 0;
	border: 2px solid var(--grey-bg);
	padding: 5px;
	display: flex;
	width: 70%;
}
.contact .contact-section .contactBox .contactInfo {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
	background: linear-gradient(135deg, #393e40 0%, #7c7a7a 70%, #393e40 100%);
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 50%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.contact .contact-section .contactBox .contactInfo .box .contactIcon {
	color: var(--primary-white-font);
	font-size: 9rem;
}
.contact .contact-section .contactBox .contactInfo .box .icon {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.contact .contact-section .contactBox .contactInfo .box .icon i {
	background: var(--primary-white-font);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}
.contact .contact-section .contactBox .contactInfo .box span {
	color: var(--primary-white-font);
	text-transform: uppercase;
}
.contact .contact-section .contactBox .contactInfo .box > div {
	margin: 10px 0;
}
.contact .contactForm {
	width: 100%;
	padding: 0 20px;
}
.contact .contactForm h3 {
	margin-bottom: 20px;
	font-size: 1.2rem;
	font-weight: 900;
	width: 100%;
	text-align: center;
}
.contact .contactForm .row100 {
	position: relative;
	width: 100%;
	display: flex;
	gap: 10px;
}
.contact .contactForm .row100 .col {
	position: relative;
	width: 100%;
	padding: 0 10px;
	margin: 15px 0 10px;
	transition: 0.5s;
}
.contact .contactForm .row100 .inputBox {
	position: realtive;
	width: 100%;
	height: 30px;
	color: var(--primary-black-font);
}
.contact .contactForm .row100 .inputBox input,
.contact .contactForm .row100 .inputBox.textarea textarea {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	box-shadow: none;
	font-size: 1rem;
	padding: 0 10px;
	z-index: 1;
	color: var(--primary-black-font);
}
.contact .contactForm .row100 .inputBox .text {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 40px;
	font-size: 1rem;
	padding: 0 15px;
	display: block;
	transition: 0.5s;
	pointer-events: none;
}
.contact .contactForm .row100 .inputBox input:focus + .text,
.contact .contactForm .row100 .inputBox input:valid + .text {
	top: -30px;
	left: -5px;
}
.contact .contactForm .row100 .inputBox .line {
	position: absolute;
	bottom: 0;
	display: block;
	height: 2px;
	width: 100%;
	background: var(--grey-bg);
	border-radius: 2px;
	pointer-events: none;
}
.contact .contactForm .row100 .inputBox input:focus ~ .line,
.contact .contactForm .row100 .inputBox input:valid ~ .line {
	height: 100%;
}
.contact .contactBox .contactForm .row100 .inputBox.textarea {
	position: realtive;
	width: 100%;
	height: 100px;
	padding: 10px 0;
}
.contact .contactForm .row100 .inputBox.textarea textarea {
	height: 100%;
	resize: none;
}
.contact .contactForm .row100 .inputBox textarea:focus ~ .text,
.contact .contactForm .row100 .inputBox textarea:valid ~ .text {
	top: -30px;
	left: -5px;
}
.contact .contactBox .contactForm .row100 .inputBox textarea:focus ~ .line,
.contact .contactBox .contactForm .row100 .inputBox textarea:valid ~ .line {
	height: 100%;
}
input[type="submit"] {
	background: var(--primary-black-bg);
	padding: 7px 35px;
	color: var(--primary-white-font);
	border: 1px solid var(--primary-black-bg);
	font-weight: 300;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-radius: 5px;
	position: relative;
	margin: 8px 0 8px;
	cursor: pointer;
	transition: 0.3s;
}
input[type="submit"]:hover {
	background: var(--primary-white-bg);
	padding: 7px 35px;
	font-weight: 500;
	color: var(--primary-black-font);
	border: 1px solid var(--primary-black-bg);
}

/* MEDIA QUERIES START */

/* Small devices (portrait tablets and large phones) */
@media (min-width: 0px) and (max-width: 767px) {
	.contact .title {
		font-size: 4rem;
	}

	.contact .contactBox {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.contact .contactBox .contactInfo {
		width: 100%;
	}
	.contact .contactBox .contactInfo .box .contactIcon {
		font-size: 4rem;
	}
	.contact .contactBox .contactInfo .box .icon i {
		width: 30px;
		height: 30px;
	}
	.contact .contactBox .contactInfo .box span {
		font-size: 0.8rem;
	}
	.contact .contactBox .contactInfo {
		box-shadow: none;
		justify-content: flex-start;
		padding: 25px;
		margin-bottom: 25px;
	}
	.contact .contactForm .row100 {
		position: relative;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}
	.contact .contactForm .row100 .inputBox .line {
		width: 100%;
	}
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 992px) {
	.contact .contactBox {
		width: 100%;
	}
	.contact .contactBox .contactInfo .box {
		padding: 10px;
	}
	.contact .contactBox .contactInfo .box .contactIcon {
		font-size: 5rem;
	}
	.contact .contactBox .contactInfo .box .icon i {
		width: 30px;
		height: 30px;
	}
}

/* Large devices (laptops/desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large laptops and desktops) */
@media (min-width: 1200px) {
}
