header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: 0.5s;
	padding: 30px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--grey-bg);
}
header.sticky {
	background: var(--primary-black-bg);
	padding: 20px 100px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
header.sticky .logo {
	color: var(--primary-white-font);
}
header .logo {
	position: relative;
	color: var(--primary-black-font);
	font-size: 1.5rem;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 0.2rem;
	transition: 0.5s;
}
header .menu {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
header .menu li {
	position: relative;
	list-style: none;
}
header .menu li a {
	position: relative;
	text-decoration: none;
	margin-right: 15px;
	font-size: 1.3rem;
	color: var(--primary-black-font);
	letter-spacing: 0.1rem;
	transition: 0.5s;
	cursor: pointer;
}
header.sticky .menu li a {
	color: var(--primary-white-font);
}
header .menu li a:hover {
	color: var(--primary-hover);
	transition: 0.3s;
	border-bottom: 2px solid var(--primary-hover);
}

/* Extra small devices (phones, 600px and down) */
@media (min-width: 0px) and (max-width: 767px) {
	header,
	header.sticky {
		padding: 30px 20px;
		z-index: 1000;
	}
	header .menu {
		position: fixed;
		top: 109px;
		left: -100%;
		display: block;
		padding: 25px;
		text-align: center;
		background: var(--primary-white-bg);
		width: 70%;
		height: 100vh;
		z-index: 999;
		transition: 0.5s;
		border-top: 1px solid var(--primary-black-bg);
		border-right: 1px solid var(--primary-black-bg);
	}
	header .menu.active {
		left: 0;
	}
	header .menu li {
		padding: 15px;
	}
	header.sticky .menu li a {
		color: var(--primary-black-font);
	}
	header.sticky .menu li a:hover {
		color: var(--primary-hover);
		transition: 0.3s;
		border-bottom: 2px solid var(--primary-hover);
	}
	header .toggle {
		background: url(/images/hamburger.png);
		background-size: 40px;
		background-repeat: no-repeat;
		background-position: center;
		height: 50px;
		width: 50px;
		cursor: pointer;
	}
	header .toggle.active {
		background: url(/images/bestx.png);
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: center;
	}
	header.sticky .toggle {
		filter: invert(1);
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	header,
	header.sticky {
		padding: 30px 20px;
		z-index: 1000;
	}
	header .menu {
		position: fixed;
		top: 109px;
		left: -100%;
		display: block;
		padding: 25px;
		text-align: center;
		background: var(--primary-white-bg);
		width: 70%;
		height: 100vh;
		z-index: 999;
		transition: 0.5s;
		border-top: 1px solid var(--primary-black-bg);
		border-right: 1px solid var(--primary-black-bg);
	}
	header .menu.active {
		left: 0;
	}
	header .menu li {
		padding: 15px;
	}
	header.sticky .menu li a {
		color: var(--primary-black-font);
	}
	header.sticky .menu li a:hover {
		color: var(--primary-hover);
		transition: 0.3s;
		border-bottom: 2px solid var(--primary-hover);
	}
	header .toggle {
		background: url(/images/hamburger.png);
		background-size: 40px;
		background-repeat: no-repeat;
		background-position: center;
		height: 50px;
		width: 50px;
		cursor: pointer;
	}
	header .toggle.active {
		background: url(/images/bestx.png);
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: center;
	}
	header.sticky .toggle {
		filter: invert(1);
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
}
